# === C / Compilación ===
server
client_c
*.o
*.out
*.exe

# === Python ===
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# === Logs y Datos Temporales (No subir a Git) ===
*.txt
*.log
mis_logs.txt
logs/

# === Guías Privadas para el Equipo (NO ENTREGABLES) ===
guias_sustentacion/
guias_tecnicas/
guias/

# === Sistema / IDEs ===
.vscode/
.idea/
.DS_Store
Thumbs.db
